*{
    padding: 0;
    margin: 0;
}
div{
    background-color: #0f1111;
    height: 60px;
}
.logo{
    color: #f08804;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
#but{
    background-color: #f08804;
}
.next{
    background-color:aliceblue;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 12px;
    height: 150px;
    padding: 28px;
    
}
main{
    padding: 40px 20px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}