* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    height: 200px;
    width: 200px;
    border: solid black 3px;
    border-radius: 10px;
}

#heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3ch;
    color: burlywood;
}

li:nth-child(3) {
    color: bisque;
    background-color: aqua;
    font-weight: 800;
}
