body {
    background-color: #FFF8F0;
    font-family: 'Times New Roman', Times, serif;
}

img {
    border-radius: 50px;
    height: 40px;
}

header {
    background-image: url(snap1.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;    
}
header::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: blur(8px);
    filter: blur(8px);
    z-index: 0;
}
header *{
    z-index: 1;
}

article {
    background-image: url(https://plus.unsplash.com/premium_photo-1760198238260-69b966553139?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw0Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=500);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

li {
    list-style: none;
    padding-top: 10px;
    filter: drop-shadow(5px 10px 10px rgb(59, 60, 55));
    filter: opacity(0.5);
}

li:hover {
    filter: opacity(1);
    color: #FFF8F0;
    font-size: medium;
    transform: scale(1.05);
}

.searchbar {
    padding-top: 10px;
}

i {
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 2%;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 120%;
    background-color: transparent;
}

.bmm1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0 20px 50px rgba(123, 35, 35, 0.2);
    padding: 15px;
    border-radius: 20px;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


a.fafa :hover {
    background-color: blue;
}

section {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #ff4000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    filter: opacity(0.5);
    transition: background-color 0.3s ease;
    width: 20%;
}

.btn:hover {
    background-color: #d31e1e;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: antiquewhite;
    font-size: large;
    filter: opacity(1);
}

.btn::before {
    content: "";
    position: absolute;
    background-color: aqua;
}
.container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
    height:400px;
}
.box-a{
    background-color: aliceblue;
    height: 300px;
    flex-basis: 200px;
    flex-grow: 0;
    
}
.box-b{
    background-color: aliceblue;
    height: 300px;
    flex-basis: 200px;
}.box-c{
    background-color: aliceblue;
    height: 300px;
    flex-basis: 200px;
}